        .material-icons.md-36 {
            font-size: 36px;
        }
        
        .row1 {
            margin-top: 86px;
        }
        
        .main-cas {
            height: 100%;
            width: 100%;
        }
        
        .orange600 {
            color: #dc3545;
        }
        
        .green400 {
            color: #dc3545;
        }
        
        .card-title {
            text-align: center;
        }
        
        .padd {
            margin-right: 50px;
            margin-left: 25px;
        }
        
        .mar {
            margin-right: 0px;
            margin-left: 20px;
        }
        
        .site-footer {
            background-color: #26272b;
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
        }
        
        .site-footer hr {
            border-top-color: #bbb;
            opacity: 0.5
        }
        
        .site-footer hr.small {
            margin: 20px 0
        }
        
        .site-footer h6 {
            color: #fff;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 5px;
            letter-spacing: 2px
        }
        
        .site-footer a {
            color: #737373;
        }
        
        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }
        
        .footer-links {
            padding-left: 0;
            list-style: none
        }
        
        .footer-links li {
            display: block
        }
        
        .footer-links a {
            color: #737373
        }
        
        .footer-links a:active,
        .footer-links a:focus,
        .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }
        
        .footer-links.inline li {
            display: inline-block
        }
        
        .site-footer .social-icons {
            text-align: right
        }
        
        .site-footer .social-icons a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 6px;
            margin-right: 0;
            border-radius: 100%;
            background-color: #33353d
        }
        
        .copyright-text {
            margin: 0
        }
        
        .ele {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
        }
        
        @media (max-width:991px) {
            .site-footer [class^=col-] {
                margin-bottom: 30px
            }
        }
        
        @media (max-width:767px) {
            .site-footer {
                padding-bottom: 0
            }
            .site-footer .copyright-text,
            .site-footer .social-icons {
                text-align: center
            }
        }
        
        .social-icons {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }
        
        .social-icons li {
            display: inline-block;
            margin-bottom: 4px
        }
        
        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }
        
        .social-icons a {
            background-color: #eceeef;
            color: #818a91;
            font-size: 16px;
            display: inline-block;
            line-height: 44px;
            width: 44px;
            height: 44px;
            text-align: center;
            margin-right: 8px;
            border-radius: 100%;
            -webkit-transition: all .2s linear;
            -o-transition: all .2s linear;
            transition: all .2s linear
        }
        
        .social-icons a:active,
        .social-icons a:focus,
        .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }
        
        .social-icons.size-sm a {
            line-height: 34px;
            height: 34px;
            width: 34px;
            font-size: 14px
        }
        
        .social-icons a.facebook:hover {
            background-color: #3b5998
        }
        
        .social-icons a.twitter:hover {
            background-color: #00aced
        }
        
        .social-icons a.linkedin:hover {
            background-color: #007bb6
        }
        
        .social-icons a.instagram:hover {
            background-color: #ea4c89
        }
        
        .tour-right-text {
            width: 100%;
            text-align: center;
            padding: 0.30rem;
        }
        
        .heading {
            font-size: 3.5rem;
            padding-bottom: 0.25rem;
        }
        
        @media (max-width:767px) {
            .social-icons li.title {
                display: block;
                margin-right: 0;
                font-weight: 600
            }
        }
        
        i.material-icons {
            font-size: 20px;
            vertical-align: middle;
            position: relative;
            top: -1px;
        }
        
        .bott1 {
            position: absolute;
            bottom: 10px;
            left: 10px;
        }
        
        .bott {
            position: absolute;
            bottom: 15px;
            right: 10px;
        }
        
        body {
            padding: 0;
            margin: 0
        }
        
        #container {
            width: 60%;
            height: 650px
        }
        
        #formcontainer {
            width: 450px;
            height: 550px;
            background-color: white;
            position: relative;
            top: 50px;
            left: 35%;
            box-shadow: 0 0 20px black;
            border-radius: 8px
        }
        
        #img1 {
            width: 450px;
            height: 150px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px
        }
        
        #cross {
            width: 20px;
            height: 20px;
            position: relative;
            top: -145px;
            left: 94%
        }
        
        #text {
            font-size: 25px;
            font-family: 'Roboto Slab', serif;
            text-align: center;
            position: relative;
            top: -20px
        }
        
        #email,
        #password {
            width: 350px;
            height: 1px;
            position: relative;
            top: -30px;
            left: 12%;
            border-radius: 5px;
            border-width: 1px;
            border-color: gray;
            padding: 20px;
            font-size: 20px;
            outline: none;
            margin-bottom: 15px
        }
        
        #email:hover,
        #password:hover {
            background-color: gainsboro
        }
        
        #email:focus,
        #password:focus {
            box-shadow: 0 0 10px green;
            border: none
        }
        
        #check {
            position: relative;
            top: 12px;
            left: -66%
        }
        
        #text1 {
            font-size: 17px;
            font-family: 'Roboto Slab', serif;
            position: relative;
            top: -36px;
            left: 17%;
            color: gray
        }
        
        #forget {
            position: relative;
            top: -77px;
            left: 67%;
            color: darkblue;
            font-size: 14px;
            font-family: 'Roboto Slab', serif
        }
        
        #login {
            width: 350px;
            height: 40px;
            position: relative;
            left: 12%;
            top: -60px;
            cursor: pointer;
            font-size: 22px;
            font-family: 'Roboto Slab', serif;
            border-radius: 5px;
            border: none;
            background-color: rgb(0, 128, 0);
            color: white
        }
        
        #login:hover {
            background-color: rgb(0, 128, 0, 0.7)
        }
        
        #hrline1 {
            line-height: 1em;
            position: relative;
            top: -40px;
            left: -30%;
            width: 38%
        }
        
        #text2 {
            font-size: 16px;
            font-family: 'Roboto Slab', serif;
            position: relative;
            top: -70px;
            left: 40%;
            color: gray
        }
        
        #hrline2 {
            position: relative;
            top: -95px;
            left: 31%;
            width: 37%
        }
        
        #facebook1,
        #google1 {
            width: 15px;
            height: 15px;
            position: relative;
            left: -10%;
            top: 1px
        }
        
        #facebook,
        #google {
            width: 140px;
            height: 40px;
            position: relative;
            top: -80px;
            left: 12%;
            border-radius: 5px;
            border-width: 1px;
            border-color: black;
            font-size: 17px;
            background-color: white
        }
        
        #facebook:hover {
            background-color: #2c27bc;
            color: white;
            transition: 0.5s
        }
        
        #google {
            position: relative;
            left: 26.5%
        }
        
        #google:hover {
            background-color: #ce6c46;
            color: white;
            transition: 0.5s
        }
        
        #text3 {
            position: relative;
            top: -66px;
            left: 32%;
            font-size: 15px;
            font-family: 'Roboto Slab', serif;
            color: gray
        }
        
        #signup {
            position: relative;
            top: -106px;
            left: 55%;
            color: black;
            font-size: 15px;
            font-family: 'Roboto Slab', serif
        }
        
        @media only screen and (max-width:830px) {
            #formcontainer {
                position: relative;
                left: 20%
            }
        }
        
        @media only screen and (max-width:620px) {
            #formcontainer {
                position: relative;
                left: 10%
            }
        }
        
        @media only screen and (max-width:530px) {
            #formcontainer {
                position: relative;
                left: 4%
            }
        }
        
        .padd {
            padding-left: 20px;
        }
        
        .card-text {
            padding: 10px;
        }
        
        .paddi {
            padding-left: 32px;
            padding-right: 0px;
        }
        
        .centered {
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            color: white;
            display: block;
            font-size: 4rem;
            font-weight: 700;
            width: 70%;
            margin: 0%;
        }
        
        .trip-duration-section {
            margin-top: 21px;
            box-sizing: border-box;
            border-bottom: 1px solid #e8e8e8;
            padding: 0 0 41px;
            float: left;
            width: 100%;
            margin-bottom: 1px;
        }
        
        .trip-duration {
            float: left;
            width: 100%;
        }
        
        .trip-duration ul {
            list-style-type: none;
        }
        
        .trip-duration ul li:first-child {
            float: left;
            font-family: "Montserrat-SemiBold";
            color: #37404d;
        }
        
        .trip-duration ul li {
            float: left;
            font: 20px/23px 'Montserrat-Light';
            color: #37404d;
            margin: 0 38px 0 0;
            padding: 0 35px 0 0;
            border-right: 1px solid #e8e8e8;
            text-transform: uppercase;
        }
        
        .trip-duration ul li span {
            display: block;
            font: 13px/28px "Montserrat-Regular";
            color: #777c83;
        }
        
        .clasic-tour-cont-left {
            width: 65%;
            padding-left: 60px;
            align-items: center;
            padding-top: 20px;
            margin-right: 40px;
        }
        
        .itnerary-section ul li {
            float: left;
            padding-bottom: 40px;
        }
        
        .itnerary-section ul {
            list-style-type: none;
            position: relative;
            float: left;
            margin-top: 20px;
        }
        
        figure {
            display: block;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-end: 40px;
        }
        
        .itnerary-section ul li figcaption {
            float: right;
            width: 90%;
            padding-top: 10px;
        }
        
        .clasic-tour-cont-right {
            float: right;
            width: 450px;
            margin-top: 50px;
            position: relative;
            right: 0;
            margin-right: 40px;
        }
        
        .subscribe-img {
            max-width: 300px;
            border: 10px solid #fff;
            box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
        }
        
        .subscribe-img:last-of-type {
            position: absolute;
            top: 1rem;
            left: 5rem;
            -webkit-transform: rotate(-15deg);
            transform: rotate(-15deg);
        }
        
        .post .avatar {
            max-width: 40px;
            min-width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px;
        }
        
        .post .title,
        .post .date,
        .post .comments,
        .post .views {
            font-weight: 400;
            color: #999;
            text-transform: capitalize;
        }
        
        .post-meta {
            margin: 10px 0;
            font-size: 0.8em;
        }
        
        .justify-content-between .post .title i,
        .post .date i,
        .post .comments i,
        .post .views i {
            margin-right: 5px;
            font-size: 1.1em;
            justify-content: space-between!important;
        }